body{
    background-color:rgb(70,70,70);
}

h1{
    text-align: center;
    border-bottom: solid 1px black;
}

.highlighted{
    background: rgba(170, 170, 170, 0.4);
    padding: 1%;
    border-radius: 3px;
    display:inline-block;
}
.gunTextContainer{
    width: 100%;
    margin-top: 5%;
    
}

.gunText{
    font-size: 24px;
    color: rgb(179, 179, 179);
    transition: 0.5s;
}

.gunText:hover{
    background: rgba(170, 170, 170, 0.4);
    padding: 0.5%;
    border-radius: 3px;
    display:inline-block;
}

.m4Text{
    margin-right: 15%;
}
.scarText{
    margin-right: 15%;
}
.sksText{
    margin-right: 15%;
}

.gripText{
    position: absolute;
    font-size: 200%;
    background-color: #FFFF00;
    opacity: 0.4;
}

.umpText{
}

.imgContainer{
}

.angledImgDiv{
    float: left;
}
.verticalImgDiv{
    float: right;
}